<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图片管理系统</title>
<link rel="stylesheet" type="text/css" href="./static/css/style.css"/>
<link rel="stylesheet" type="text/css" href="./static/css/body.css"/>
<link rel="shortcut icon" href="./static/images/photo_favicon.ico"/>
</head>
<body>
<div class="container">
	<section id="content">
		<form action="http://127.0.0.1:5000/login" method = "POST">
			<h1>登录</h1>
			<div>
				<input type="text" placeholder="用户名" required="" name="username" />
			</div>
			<div>
				<input type="password" placeholder="密码" required="" name="password" />
			</div>
			 <div class="">
				<span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>			</div> 
			<div>
				<!-- <input type="submit" value="Log in" /> -->
				<input type="submit" value="登录" class="btn btn-primary" id="js-btn-login"/>
				<form action="http://127.0.0.1:5000/signin" method = "POST">
				<a href="/signin">新用户注册</a>
				</form>
				<!-- <a href="#">Register</a> -->
			</div>
		</form><!-- form -->		
		<h3>{{get_flashed_messages()[0]}}</h3>
	</section><!-- content -->
</div>
<!-- container -->

<br><br><br><br>
</body>
</html>